
.container-historia{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    /* align-items: center; */
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 10px;
}

.ch-title1 {
    color: var(--primary-blue);
    text-align: center;
    padding: 10px 0px;
    font-size: 3rem;
}

.ch-title2 {
    color: var(--primary-blue);
    text-align: center;
    padding: 10px 0px;
    font-size: 2rem;
}

.ch-parrafo{
    font-size: 1.4rem;
    text-align: justify;
    padding: 5px;
    color: var(--parrafo-blue);
}

/* SLIDER*/
.ch-slider{
    border: thin solid red;
    width: 100%;
    height: auto;
    overflow: hidden;
}    

.ch-slider ul{
   display: flex;
   animation: cambio 15s infinite alternate linear;
   width: 400%;
}

.ch-slider li{
    width: 100%;
    list-style: none;
}

.ch-slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


/* TABLE */
.ch-table{
    background-color: white;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 1.4rem;
    width: 80%;
}

.ch-table th, td {
    padding: 0.2rem;
    color: var(--primary-blue);
}

tr:nth-child(even){
    background-color: #F8F8FB;
}

.ch-table img{
    width: 2rem;
    height: 2rem;
}