:root{
    /* Colores */
    --primary-blue: #10479E;
    --secundary-color: #337CC4;
    --parrafo-blue: #545F72;
    --skyblue: #2FD8EF;
    --second-skyblue: #EDF7F9;
    --yellow: #FFC12C;
}

.menu{
    background-color: #fff;
    height: 75px;
    width: 100vw;
    /* position: fixed;
    z-index: 3; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

/* .menu-logo{
    color: white;
    padding: 0 80px;
    font-weight: bold;
} */

.menu-logo{
    width: 200px;
    height: auto;
}

.menu-items{
    display: flex;
    position: relative;
    z-index: 3;
    list-style: none;
    margin-right: 30px;
}

.menu-items li {
    border-radius: 3px;
    margin: 0 5px;
}
.menu-items li a{
    color: var(--primary-blue);
    padding: 7px 11px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

.menu-items li:hover, li.active{
    background-color: rgba(0, 0, 0, .6) ;
    transition: .4s;
}

.menu-btn{
    margin-right: 30px;
    width: 35px;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
}

@media screen and (max-width: 952px){
    .logo{
        font-size: 3rem;
    }

    .menu-items li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }

    .menu-btn{
        display: inline-flex;
    }

    .menu-items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #10479E;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu-items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu-items li:hover{
        background: none;
    }

    .menu-items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .menu-items li a:hover{
        color: var(--secundary-color);
    }

    .menu-logo {
        font-size: 15px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 858px) and (orientation:landscape){
    .menu-items li {
        margin: 5px 0 0 0;
    }

    .menu-items {
        overflow: scroll;
        height: calc(100%-65px);
    }
}