*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonial{
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background: #fff;
  }

  /* .swiper-slide img {
    display: block;
    width: 100%;
  } */

.testimonialBox {
      position: relative;
      width: 100%;
      padding: 40px 90px 40px 40px;
      color: #999;
}

.testimonialBox .quote{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
    width: 50px;
}

.testimonial-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonial-details .imgBx{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testimonial-details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-details h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1rem;
}

.testimonial-details h3 span{
    font-size: 12px;
    color: #666;
}