/*
1. Posicionamiento
2. Modelo de caja(Box Model)
3. Tipografia
4. Visuales (shadowbox, border radius)
5. Otros
*/

:root{
    /* Colores */
    --primary-blue: #103276;
    --secundary-blue: #013361;
    --parrafo-blue: #545F72;
    --skyblue: #00A3D4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header .nav-bar {
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 65px;
    justify-content: space-between;
    box-shadow: 0 0 2px rgb(26, 23, 207)
}

header .nav-bar img{
    width: 144px;
    aspect-ratio: auto 144 / 52;
    height: 52px;
}

.container{
    margin-bottom: 35px;
}

section .niveles {
    /*Posicionamiento*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Otros*/
    height: 80px;
    margin: 5px 10px;
    background: var(--secundary-blue);
    border: thin solid var(--skyblue);
    color: white;
}

.niveles-titulo{
    color: var(--primary-blue);
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
}

.niveles-parrafo{
    font-size: 1.4rem;
    text-align: justify;
    padding: 5px;
    color: var(--parrafo-blue);    
}

section .niveles img {
    height: 60px;
    width: 60px;
    padding: 15px;
    margin-left: 10px;
    background-color: var(--skyblue);
    border-radius: 50%;
    object-fit: cover;
}

section .niveles p {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 2.6rem;
    
}

section .nivieles--button {
    background: var(--skyblue);
    border: thin solid white;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 10px;
}

