/* Slider x
.img-slider {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D212B;
}*/
.img-slider {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    /*background: #1D212B;*/
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
    clip-path: circle(1500% at 0 50%);
    transition: 3s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
}

.img-slider .slide .info {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 15px 30px;

}

.img-slider .slide .info h2 {
    color: white;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

/*H3*/
.img-slider .slide .info h3{
    padding: 30px 10px;
    color: white;
    font-size: 1.8rem;
    box-shadow: rgba(0,0,0,0.5);
}
.img-slider .slide .info .info-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28%;
    top: 0;
    width: 100%;
    height: 70px;
}

.img-slider .slide .info .info-button{
    align-self: center;
    color: white;
    background: #4361AA;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    padding: 7px 12px;
    border-radius: 7px;
    text-decoration: none;
}

/*--H3*/

.img-slider .slide .info p{
    color: white;
    background: rgba(0,0,0,0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}

.img-slider .navigation-slider{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
}

.img-slider .navigation-slider .btn{
    background-color: rgba(255, 255, 255, 0.5) ;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation-slider .btn.active{
    background: #2696e9;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 357px;
    }
    .img-slider .slide .info{
        padding: 10px 25px;
    }
    
    .img-slider .slide .info h2{
        font-size: 3.5rem;
    }

    .img-slider .slide .info p{
        width: 70%;
        font-size: 1.5rem;
    }

    .img-slider .navigation-slider{
        bottom: 25px;
    }

    .img-slider .navigation-slider .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }

}
/**/
@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 250px;
    }
    .img-slider .slide .info{
        padding: 10px 20px;
    }
    
    .img-slider .slide .info h2{
        font-size: 3.0rem;
    }

    .img-slider .slide .info p{
        width: 80%;
        font-size: 1.3rem;
    }

    .img-slider .navigation-slider{
        bottom: 15px;
    }

    .img-slider .navigation-slider .btn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }

}
/**/
@media (max-width: 420px){
    .img-slider{
        width: 100%;
        height: 200px;
    }
    .img-slider .slide .info{
        padding: 5px 10px;
    }
    
    .img-slider .slide .info h2{
        font-size: 2.5rem;
    }

    .img-slider .slide .info p{
        width: 90%;
        font-size: 1.1rem;
    }

    .img-slider .navigation-slider{
        bottom: -5px;
    }
}

/*-------*/